.header {
    padding-top: 20px;
}
.header span {
    margin-left: 20px;
    color: #8a8a8a;
}


.my-links {
    margin-top: 64px;
    font-size: 28px;
}
.my-links .divider {
    padding-left: 12px;
    padding-right: 12px;
}
.my-links a {
    color: #000;
    text-decoration: underline;
}
.my-links a:hover {
    color: #898989;
}
.my-links .youre-here {
    color: #898989;
}

.intro {
    margin-top: 64px;
    font-size: 28px;
}




.button-primary {
    font-weight: 300;
    text-transform: uppercase;
    
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    color: #000;
    background: #eee;
}
.button-primary:hover {
    color: #000;
    background: #DDD;
}

.button-ghost {
    font-weight: 300;
    text-transform: uppercase;
    
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
}

img {
    max-width: 100%;
    margin-bottom: 2rem;
}

